<div class="row leyenda">
    <div class="col s2 offset-s1 offset-m1 truncate">Excelente</div>
    <div class="col s2 truncate">Muy bueno</div>
    <div class="col s2 truncate">Bueno</div>
    <div class="col s2 truncate">Regular</div>
    <div class="col s2 truncate">Malo</div>
</div>
<div class="row">
    <div class="col s12 m6">
        <div class="col s12 left-align badgeDiv">
        	<span class="new badge blue-grey darken-3 left-align" data-badge-caption="Atención y Servicio">
        		<i class="material-icons">info</i>
        	</span>
        </div>
        <div class="chart grafica1 col s12"></div>
    </div>
    <div class="col s12 m6">
        <div class="col s12 left-align badgeDiv">
        	<span class="new badge blue-grey darken-3 left-align" data-badge-caption="Alimentos del Restaurant">
        		<i class="material-icons">info</i>
        	</span>
        </div>
        <div class="chart grafica2 col s12"></div>
    </div>
    <div class="col s12 m6">
        <div class="col s12 left-align badgeDiv">
        	<span class="new badge blue-grey darken-3 left-align" data-badge-caption="Instalaciones y Ubicación">
        		<i class="material-icons">info</i>
        	</span>
        </div>
        <div class="chart grafica3 col s12"></div>
    </div>
    <div class="col s12 m6">
        <div class="col s12 left-align badgeDiv">
        	<span class="new badge blue-grey darken-3 left-align" data-badge-caption="Habitaciones">
        		<i class="material-icons">info</i>
        	</span>
        </div>
        <div class="chart grafica4 col s12"></div>
    </div>
    <div class="col s12 m6">
        <div class="col s12 left-align badgeDiv">
        	<span class="new badge blue-grey darken-3 left-align" data-badge-caption="Check in y check out">
        		<i class="material-icons">info</i>
        	</span>
        </div>
        <div class="chart grafica5 col s12"></div>
    </div>
    <div class="col s12 m6">
        <div class="col s12 left-align badgeDiv">
        	<span class="new badge blue-grey darken-3 left-align" data-badge-caption="Alimentos y bebidas de la Cena Clausura">
        		<i class="material-icons">info</i>
        	</span>
        </div>
        <div class="chart grafica6 col s12"></div>
    </div>
    <div class="col s12 m6">
        <div class="col s12 left-align badgeDiv">
        	<span class="new badge blue-grey darken-3 left-align" data-badge-caption="Servicio de meseros">
        		<i class="material-icons">info</i>
        	</span>
        </div>
        <div class="chart grafica7 col s12"></div>
    </div>
    <div class="col s12 m6">
        <div class="col s12 left-align badgeDiv">
        	<span class="new badge blue-grey darken-3 left-align" data-badge-caption="Imagen y presentación">
        		<i class="material-icons">info</i>
        	</span>
        </div>
        <div class="chart grafica8 col s12"></div>
    </div>
    <div class="col s12 m6">
        <div class="col s12 left-align badgeDiv">
        	<span class="new badge blue-grey darken-3 left-align" data-badge-caption="Puntualidad">
        		<i class="material-icons">info</i>
        	</span>
        </div>
        <div class="chart grafica9 col s12"></div>
    </div>
    <div class="col s12 m6">
        <div class="col s12 left-align badgeDiv">
        	<span class="new badge blue-grey darken-3 left-align" data-badge-caption="Recepción en el evento">
        		<i class="material-icons">info</i>
        	</span>
        </div>
        <div class="chart grafica10 col s12"></div>
    </div>
    <div class="col s12 m6">
        <div class="col s12 left-align badgeDiv">
        	<span class="new badge blue-grey darken-3 left-align" data-badge-caption="Programa de conferencias">
        		<i class="material-icons">info</i>
        	</span>
        </div>
        <div class="chart grafica11 col s12"></div>
    </div>
    <div class="col s12 m6">
        <div class="col s12 left-align badgeDiv">
        	<span class="new badge blue-grey darken-3 left-align" data-badge-caption="Contenido de conferencias">
        		<i class="material-icons">info</i>
        	</span>
        </div>
        <div class="chart grafica12 col s12"></div>
    </div>
    <div class="col s12 m6">
        <div class="col s12 left-align badgeDiv">
        	<span class="new badge blue-grey darken-3 left-align" data-badge-caption="Conferencia de Doug Lipp">
        		<i class="material-icons">info</i>
        	</span>
        </div>
        <div class="chart grafica13 col s12"></div>
    </div>
    <div class="col s12 m6">
        <div class="col s12 left-align badgeDiv">
        	<span class="new badge blue-grey darken-3 left-align" data-badge-caption="Conferencia de Abraham Levy">
        		<i class="material-icons">info</i>
        	</span>
        </div>
        <div class="chart grafica14 col s12"></div>
    </div>
    <div class="col s12 m6">
        <div class="col s12 left-align badgeDiv">
        	<span class="new badge blue-grey darken-3 left-align" data-badge-caption="Decoración">
        		<i class="material-icons">info</i>
        	</span>
        </div>
        <div class="chart grafica15 col s12"></div>
    </div>
    <div class="col s12 m6">
        <div class="col s12 left-align badgeDiv">
        	<span class="new badge blue-grey darken-3 left-align" data-badge-caption="Baile con botargas">
        		<i class="material-icons">info</i>
        	</span>
        </div>
        <div class="chart grafica16 col s12"></div>
    </div>
    <div class="col s12 m6">
        <div class="col s12 left-align badgeDiv">
        	<span class="new badge blue-grey darken-3 left-align" data-badge-caption="Show magos “Joe y Moey”">
        		<i class="material-icons">info</i>
        	</span>
        </div>
        <div class="chart grafica17 col s12"></div>
    </div>
    <div class="col s12 m6">
        <div class="col s12 left-align badgeDiv">
        	<span class="new badge blue-grey darken-3 left-align" data-badge-caption="Escenario">
        		<i class="material-icons">info</i>
        	</span>
        </div>
        <div class="chart grafica18 col s12"></div>
    </div>
    <div class="col s12 m6">
        <div class="col s12 left-align badgeDiv">
        	<span class="new badge blue-grey darken-3 left-align" data-badge-caption="Videos">
        		<i class="material-icons">info</i>
        	</span>
        </div>
        <div class="chart grafica19 col s12"></div>
    </div>
    <div class="col s12 m6">
        <div class="col s12 left-align badgeDiv">
        	<span class="new badge blue-grey darken-3 left-align" data-badge-caption="Calificación general del evento">
        		<i class="material-icons">info</i>
        	</span>
        </div>
        <div class="chart grafica20 col s12"></div>
    </div>
